# Ignore Mac system files
.DS_store

# Ignore log files (i.e. from Hyphy)
.log

# Ignore iPython checkpoints
.ipynb_checkpoints

# Ignore compressed (huge) files
*.gz
*.zip

# Ignore R history
*.Rhistory
